# NovaPress AI v2 - Grafana Datasource Provisioning
# Auto-provisions Prometheus as the default datasource on first boot.

apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    orgId: 1
    url: http://prometheus:9090
    isDefault: true
    editable: true
    jsonData:
      timeInterval: '10s'
      httpMethod: POST
    version: 1
